* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}

nav {
    background-color: turquoise;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-bottom: 100px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav ul li {
    margin: 20px 30px;
    display: inline-flex;
    text-align: center;
    list-style-type: none;
    font-size: 30px;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: black;
    float: left;
    font-family:'Playfair Display', serif;

}
nav ul a:hover {
    color: red;
    cursor: pointer;
}

.section1 {
  background-image: url('Decor 1.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  margin-top: 50px;
  padding: 40px;
  height: 500px;
  width: 100%;
  position: relative;
}

.section1 h2 {
  margin-top: 10px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2f2f2;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.section2 {
    padding: 40px;
    background-color: white;
    margin: 30px 50px;
    display: inline-flex;
    
}
.section2 img {
    width: 500px;
    height: auto;

}
.DecorText2 {
    font-size: 24px;
    color: black;
    margin-left: 20px;
    text-align: center;
}
.section3 {
    padding: 40px;
    background-color: white;
    margin: 10px 50px;
    display: flex;
}
.section3 ul {
    list-style-type: none;
    text-align: center;
    margin: 20px;
    font-size: larger;
}
.section3 img {
    width: 500px;
    height: auto;
}
.DecorText3 {
    font-size: 24px;
    color: black;
    margin-left: 20px;
    text-align: center;
}
body{
    background-color: #f4f4f4;
}
.section4 {
  background-image: url('Big\ Sofa.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  margin-top: 50px;
  padding: 40px;
  height: 500px;
  width: 100%;
  position: relative;
}
.DecorText4 {
  margin-top: 10px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.pagefooter {
    background-color: turquoise;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: black;
}
.Explore {
   margin: 10px;
   background-color: navy;
   border: smooth;
   border-radius: 5px;
   color: black;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
}
.Explore:hover {
    background-color: blue;
    color: white;
}
.DecorText4 a {
    text-decoration: none;
    color: white;
}

