* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #f3f3f3
}
header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 50px;
}
.navbar h4{
    color: darkgreen;
    font-weight: bold;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
} 
nav a  {
    text-decoration: none;
    color: grey;
}
.navbutton {
    display : flex;
    gap: 20px;
    align-items: center;
}
.navbutton button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}