* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #454343;
    color: #fff;
    text-align: center;
}
section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
section h2 {
    margin-bottom: 10px;
}
.profileHeader {
    padding-bottom: 15px;

}
.skill {
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.profileFooter {
    padding-bottom: 15px;
}
.skill ul {
    list-style-type: none;
    text-align: center;
    margin: 20px;
    display: inline-flex;
}
.skill ul li {
    margin: 10px 20px;
    
}
.skill h3 {
    font-size: 30px;
    color: yellow;
    font-weight: bold;
}
.profileFooter a {
    color: yellow;
    text-decoration: none;
}
.profileFooter button {
   margin: 10px;
   background-color: yellow;
   border: none;
   color: black;
   padding: 10px 20px;
   font-weight: semibold;
   font-size: 16px;
   border-radius: 10px;
}
.SocialMedia i {
    font-size: 30px;
    margin: 0 10px;
    color: yellow;
}
.profileFooter button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.SocialMedia i:hover {
    color: white;
    cursor: pointer;
}