* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    margin-right: 50px;
}

.navbar ul {
    display: flex;
    gap: 30px;
    align-items: left;
}

.navbar ul li{
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.navbar .blue a{
    color: darkblue;
}

.navlogo {
    display: flex;
    gap: 10px;
    align-items: center;
    color: darkblue;
}

.navlogo h4{
    font-weight: bold;
}

.navbutton {
    margin-right: 20px;;
}

.navbutton button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbutton button:hover {
    background-color: navy;
    cursor: pointer;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('Large property.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px;
}

.hero-text {
    text-align: center;
    color: white;
    font-size: larger;
}

.hero-search {
    background-color: #fff;
    border-radius: 50px;
    margin-top: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.hero-search input {
    margin: 5px;
    padding: 5px;
    width: 85%;
    border: 1px transparent solid;
    border-radius: 70px;
    outline: none;
    background-color: #f3f3f3;
    font-size: 12px;
}

.hero-search i.fa-solid {
    font-size: 12px !important;  
    background-color: darkblue;
    color: white;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 40px;
    display: flex;             
    justify-content: center;   
    align-items: center; 
}

.Cards-section {    
    margin: 20px
}

.property-cards {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.property-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 235px;
    text-align: center;
}

.property-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.property-card p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 12px;
}

.stat-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    width: 90%;
    margin: 50px auto;
    font-family: Arial, sans-serif;
}

.left h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

.stat-box {
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 20px;
    width: 100%;
}

.stat-box-blue{
    border-radius: 10px;
    background-color: darkblue;
    padding: 20px;
    width: 100%;
    color: #fff;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid h3{
    font-size: 28px;
    margin: 0;
}

.grid p{
    font-size: 14px;
    margin-top: 5px;
}
 
.text-block {
    max-width: 500px;
    font-size: 14px;
    margin-bottom: 20px;
}

.image-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    position: relative;
    width: 100%;
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    grid-column: span 2;

}

.overlay-icon {
    position: absolute;
    top: 40%;
    left: 40%;
    background: #2d3df7;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 50px;
}

.subtitle{
    text-align: center;
    margin-bottom: 20px;
    gap: 50px;
}

.subtitle h2{
    margin-bottom: 20px;
    font-size: 38px;
}

.subtitle p{
    font-size: 14px;

}

.services-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 30px;
    width: 100%;
}  

.services-blue-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: darkblue;
    padding: 30px;
    width: 100%;
    color: #fff;

}

.icon{
    font-size: 35px;
    color: darkblue;
}

.icon-white{
    font-size: 35px;
    color: white;
}

.text h3{
    margin-bottom: 10px;
}

.text p{
    font-size: 14px;
}

.explore-container{
    display: flex; 
    justify-content: flex-end;
    margin-right: 50px;
}

.explore{
    padding: 10px;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    width: 12%;
    text-align: center;
}

.footer{
    margin: 50px;
    margin-bottom: 10px;
}

.footer-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-text h2{
    font-size: 38px;
}

.footer-text p{
    width: 50%;
    font-size: 14px;
    align-items: center;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.card{
    position: relative;
    width: 450px;
}

.card img{
    width: 100%;
    display: block;
}

.info-box {
    position: absolute;
    bottom: 10px;     
    left: 10px;
    right: 10px;
    padding: 10px;
    background: rgba(255,255,255,0.7); 
    color: #fff;
    border-radius: 8px;
    width: 70%;
    justify-content: space-between;
    display: inline;
}

.icon-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7); 
    color: #fff;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-overlay i{
    font-size: 45px;
    color: darkblue;
}

.card h3{
    color: black;
    font-weight: bold;
}

.card p{
    color: #333;
    font-size: 12px;
    margin: 10px 0px;   
}

.card .price{
    color: red;
    font-size: 14px;
}

.details{
    display: flex;
    justify-content: space-between;
}

.details .icon{
    color: grey;
    font-size: 14px;
}
