*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: Arial, sans-serif;
}
header {
    color: black;
    padding: 15px 30px;
    display: flex;
    align-items: center;
}
.navlogo{
    display: flex;
    align-items: center;

}
.navlogo i{
    color: orangered;
    font-size: 28px;
}
.navlogo h4{
    font-size: 18px;
}
.navbar{
    margin-right: 20px;
    margin-left: 250px;
}
.navbar ul{
    display: flex;
    gap: 25px;
}
.navbar ul li {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbutton button{
    padding: 13px;
    background-color: orangered;
    color: white;
    border: none;

}
.navbutton button:hover{
    background-color: darkorange;
    cursor: pointer;
}
.hero-text {
    text-align: center;
    margin-top: 100px;
}
.hero-text p{
    width: 50%;
    text-align: center;
    margin-left: 250px;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    
}
.left-button{
    background-color: orangered;
    color: white;
    border: none;
    padding: 13px;
}
.right-button{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 13px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1100px;
    margin: 50px 100px;
   
}
.card1 {
    padding: 20px;
    text-align: left;
    border: 3px solid #f3f3f3;
    height: 300px;
    width: 70%;              /* important */
    box-sizing: border-box;
    min-width: 280px;
    max-width: 320px; 

}
.card1 .icon a{
    color: orangered;
}
.card1, .card2, .card3, .card4, .card5, .card6, h3{
    margin-top: 15px;

}
.card1, .card2, .card3, .card4, .card5, .card6, p{
    margin-top: 15px;
    line-height: 1.45;
    font-size: 14px;
}
.card1, .card2, .card3, .card4, .card5, .card6, .icon{
    margin-top: 20px;

}
.card1, .card2, .card3, .card4, .card5, .card6, .icon a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.card2 {
    padding: 20px;
    text-align: left;
    border: 3px solid #f3f3f3;
    height: 300px;
    margin-top: 60px;
    width: 100%;              /* important */
    box-sizing: border-box; 
    min-width: 280px;
    max-width: 320px;
}
.card3 {
    padding: 20px;
    text-align: left;
    border: 3px solid #f3f3f3;
    height: 300px;
    margin-top: 120px;
    width: 100%;              /* important */
    box-sizing: border-box;
    min-width: 280px;
    max-width: 320px;
}
.card4 {
    padding: 20px;
    text-align: left;
    border: 3px solid #f3f3f3;
    height: 300px;
    width: 100%;              /* important */
    margin-top: -90px;

}
.card5 {
    padding: 20px;
    text-align: left;
    border: 3px solid #f3f3f3;
    height: 300px;
    margin-top: 60px;
    width: 100%;              /* important */
    margin-top: -45px;
}
.card6 {
    padding: 20px;
    text-align: left;
    border: 3px solid #f3f3f3;
    height: 300px;
    margin-top: 120px;
    width: 100%;              /* important */
    margin-top: 15px;

}
.icon-container{
    font-size: 30px;
    color: orangered;
}
.final-section{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4)), url('Construction.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 70px;
    padding : 50px;
}
.final-buttons {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-top: 30px;
}
.final-section h2{
    font-weight: bold;
    font-size: 36px;
}
.final-section p{
    width: 400px;
}
footer{
    background-color: black;
    padding: 60px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.first-part{
    width: 20%;
}
.first-part p{
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 14px;
}

.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo i{
    color: orangered;
    font-size: 20px;
}  
.footer-logo h4{
    font-size: 16px;
    margin-left: 5px;
}
.social-icons{
    display: flex;
    align-items: center;
    gap: 10px;
    
} 
.social-icons i{
    color: white;
    padding: 3px;
    background-color: orangered;
    font-size: 18px;
    border-radius: 2px;
    height: 25px;
    width: 25px;
}
.copyright{
    margin-top: 100px;
}
.second-part{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: -110px;
}
.second-part ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 14px;
}
.second-part ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.menu h3{
    margin-bottom: 15px;
}
.menu-continuation{
    margin-top: 78px;
}
.third-part{
    margin-top: -85px;
}
.third-part ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 14px;
}
.third-part ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.third-part h3{
    margin-bottom: 15px;
}
.final-part{
    margin-top: -95px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.final-part h3{
    margin-bottom: 15px;
}
.final-part button{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: 2px solid orangered;
    color: white;
    gap: 10px;
}
.final-icon {
  width: 35px;
  height: 35px;
  background: #ff5c1c; /* orange */
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-icon i {
  font-size: 22px;
  color: white;
}

.button-text h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.button-text p {
  margin: 2px 0 0;
  font-size: 14px;
}
