*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: black;
}
.navlogo{
    color: orange;
}
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.hero{
    background-image: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),url('Laptop.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f3f3f3;
}
.hero-text1{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.hero-text2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.hero-button button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.hero-button button:hover{
    background-color: darkorange;
}
.service-text{
    text-align: center;
    margin-top: 50px;
}
.service-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}
.service-cards h3{
    margin-bottom: 15px;
}
.service-cards p{
    font-size: 12px;
    line-height: 1.5;
}
.service-card1, .service-card2, .service-card3{
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}
.icon-container{
    margin-bottom: 15px;
}
.icon-container i{
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 70px;
    font-size: 28px;
}
.service-card2{
    margin-top: 10px;
}
.portfolio{
    text-align: center;
    margin-top: 50px;
    background-color: #f3f3f3;
    padding: 50px;
}
.portfolio-text h2{
    margin-bottom: 10px;
    font-size: 30px;
}
.portfolio-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px 0;
}
.portfolio-card{
    background-color: white;
    width: 100%;
    margin: 0 auto;
}
img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.portfolio-card p{
    padding: 10px;
    font-size: 14px;
}
.final-section{
    background-color:#f3f3f3;
    color: black;
    text-align: center;
    padding:0px 20px;
}
.final-section h3{
    margin-bottom: 10px;
}
.final-text h2{
    margin-bottom: 10px;
    font-size: 30px;
}
.final-section p{
    font-size: 14px;
}
.team{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.team-member{
    padding: 20px;
    width: 250px;
    text-align: center;
}
.member-image img{
    border-radius: 50%;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
footer{
    text-align: center;
    font-size: 14px;
}